@use "./variables" as *;
@use "./mixins" as *;
@use "./typography" as *;

@mixin padding-16 {
    padding-top: $padding-24;
    padding-left: $padding-16;
    padding-right: $padding-16;
    padding-bottom: $padding-16;
  } 

@mixin padding-36 {
    padding-top: $padding-48;
    padding-left: $padding-36;
    padding-right: $padding-36;
    padding-bottom: $padding-36;
}

@mixin padding-mobile{
  padding-left: $padding-16;
  padding-right: $padding-16;
}

@mixin padding-tablet{
  padding-left: $padding-36;
  padding-right: $padding-36;
}


.nav {
  @include tablet {
    display: flex;
    background-color: $BandSite-Black;
  }

  @include desktop{
    padding: 0 10%;
  }

  &__logo {
    background-color: $BandSite-Black;
    color: $White;
    display: flex;
    justify-content: center;
    padding: $padding-16;
    height: 2rem;

    @include tablet {
      padding: $padding-36;
    }
  }

  &__menu {
    display: flex;
    justify-content: space-around;
    background-color: $BandSite-Black;
  }

  &__menu--hover {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    text-align: center;
    padding: $padding-16;

    &:hover {
      border-bottom: 0.25rem solid $White;
    }

    @include tablet {
      padding: $padding-24;
    }
  }

  &__button {
    text-decoration: none;
    vertical-align: middle;
    color: $White;

    &:hover {
      font-weight: 700;
    }

    a {
      text-decoration: none;
    }
  }
}

body {
    font-family:"Avenir", sans-serif; 
    margin: 0;
}

main {
    margin: 0;
}

h1{
    font-size: $font-60;
    font-weight: 600;

    @include tablet {
        font-size: $font-TabletH1;
    }
}

h2{
    font-size: $font-24;
    font-weight: 600;
    margin:0;
    padding-top: $padding-24;
    padding-bottom: $padding-24;
 

    @include tablet {
        font-size: $font-40;
    }

    @include desktop {
      font-size: $font-60;
  }
}

h3{
    font-size: $font-18;
    font-weight: 600;

    @include tablet {
        font-size: $font-32;
    }

}
p {
    font-size: $font-14;
    font-weight: 400;
    line-height: $line-height-24;
    margin: 0;

    @include tablet {
        font-size: $font-16;
    }
}

.button{
    font-size: $font-14;
    font-weight: 400;

    @include tablet {
        font-size: $font-16;
    }

}


.footer {
    background-color: $BandSite-Black;
    color: $White;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    @include padding-mobile;
    
    @include tablet {
    padding-top: $padding-16;
    
     @include desktop{
        padding: 0 10%;
        }
    }

  
    &__logo{
      align-items: center;
      vertical-align: middle;

      @include tablet{
        // flex-basis:100%;
      }
    }

    &__contact{
      @include tablet{
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        flex: 1;
        }
    }
  
    &__container{
      @include tablet{
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      flex: 1;
      }
    }
      
  
    &__social--links{
      display: flex;
      align-items: center;
  
      @include tablet{
        // flex-basis:auto;
        justify-content: space-between;
    
      }
    }

    &__icon{
        justify-content: space-between;
        margin-top: 1rem;
        margin-right:2rem;
        height:3rem;
    }
    
    &__copy {
      padding-bottom: $padding-16;

    
      @include desktop{
        padding-top: $padding-36;
        padding-bottom: $padding-48;
      }
    }
    &__contact--label {
      font-size: 1.5rem;
    }
    
    &__contact--copy {
      padding-top: $padding-16;
      padding-bottom: $padding-16;
    }
  
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
  

    &__logo--hidden1{  
      display: none;

      @include tablet{
        display: flex;
      }
  
      @include desktop{
        position: relative;
        top: 3rem; left: 3rem;
      }
    }
    &__logo--hidden2{
      padding-bottom: $padding-16;
      @include tablet{
        display:none;
      }
    }
}


// .footer{
//   background-color: $BandSite-Black;
//   color: $White;
//   box-sizing: border-box;

//   @include tablet{
//     display: flex;
//     flex-direction: row;
//     justify-content: space-around;
//     gap: 5rem;
//   }

//   &__social--links2 {

//     @include tablet {
//     display: none;
//     }
//  }
//   &__social--links2 {
//     display: none;
//   }
  
// }