$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$BandSite-Black: #323232;
$Silver:#AFAFAF;
$White:#FFFFFF;
$BandSite-DarkBlack:#000000;
$Mercury:#E1E1E1;
$Alabaster:#FAFAFA;

$margin-16: 1rem;
$margin-24: 1.5rem;

$padding-12: .75rem;
$padding-16: 1rem;
$padding-24: 1.5rem;
$padding-32: 2rem;
$padding-36: 2.25rem;
$padding-48: 3rem;

$font-13: 0.8125rem; /*too small*/
$font-14:0.875rem; /*too small*/
$font-16: 1rem; /*too small*/
$font-18: 1.125rem; 
$font-24: 1.5rem;
$font-32: 2rem;
$font-40: 2.5rem;
$font-60: 3.75rem;
$font-TabletH1: 4.5rem;

$line-height-20: 1.25rem;
$line-height-24: 1.5rem;
$line-height-32: 2rem;

