$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$BandSite-Black: #323232;
$Silver:#AFAFAF;
$White:#FFFFFF;
$BandSite-DarkBlack:#000000;
$Mercury:#E1E1E1;
$Alabaster:#FAFAFA;

$margin16px: 1rem;
$margin24px: 1.5rem;

$padding12px: .75rem;
$padding-16: 1rem;
$padding24px: 1.5rem;
$padding32px: 2rem;

$font13px: 0.8125rem; /*too small*/
$font14px:0.875rem; /*too small*/
$font16px: 1rem; /*too small*/
$font18px: 1.125rem; 
$font24px: 1.5rem;
$font32px: 2rem;

$lineheight20px: 1.25rem;
$lineheight24px: 1.5rem;
$lineheight32px: 2rem;

