@use "./partials/globals" as *;
@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/typography" as *;

.subheader{
  font-family:"Avenir", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: $BandSite-Black;
  color: $White;
  display: flex;
  justify-content: center;
  padding: $padding16px;
  padding-bottom: 0;
  margin:0;
}

.navbar__menu{
  display: flex;
  justify-content: space-around;
  background-color: $BandSite-Black;
  margin:0;
  padding:$padding16px;
}

.navbar__menu--hover{
  display: flex;
  justify-content: space-around;
  flex:1;
  text-align: center;

&:hover {
  border-bottom: .25rem solid $White; 
}
}

.button{
  font-family:"Avenir", sans-serif;
  text-decoration: none;
  font-size: .625rem;
  color: $White;
  font-weight: 400;
  
  &:hover {
    font-weight:  700; 
}
}

.button a {
  text-decoration: none;

}

.pageheader{
  background-image: url('/assets/images/hero-bio.jpg');
  opacity: 80%;
  background-size: cover;
  display:flex;
  width:100%;
  height: 60vw;
}

.pageheader__title{
  font-family:"Avenir", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  color: $White;
  padding: $padding16px;
}

/*BAND IMAGE*/
.bandimage{
  padding: $padding16px;
  position: relative;
  width:100%;
  height: auto;
}

.sectionheader{
  font-family:"Avenir", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  padding: $padding16px;
}
.quote{
  font-family:"Avenir", sans-serif;
  font-size: .8125rem;
  font-weight: 700;
  padding: $padding16px;
}

.bodyheader{
  font-family:"Avenir", sans-serif;
  font-size: .8125rem;
  font-weight: 600;
  display:flex;
  padding-left: $padding16px;
  padding-right: $padding16px;
}

.bodycopy{
  font-family:"Avenir", sans-serif;
  font-size: .8125rem;
  font-weight: 400;
  padding: $padding16px;
}

.label{
  font-family:"Avenir", sans-serif;
  font-size: .8125rem;
  font-weight: 700;
  padding: $padding16px;
}


.section_nav{
  background-color: $BandSite-Black;
  color: $White;
}

.section__about{
  background-color: $White;
  color: $BandSite-Black;
}

.section__photos{
  background-color: $Alabaster;
  color: $BandSite-Black;
}

.footer{
  background-color: $BandSite-Black;
  color: $White;
  padding-bottom: $padding16px;
}

.footercopy{
  font-family:"Avenir", sans-serif;
  font-size: .8125rem;
  font-weight: 400;
  padding-left: $padding16px;
  padding-right: $padding16px;
  padding-top:0;
  padding-bottom:0;
}

.footer__header{
  font-family:"Avenir", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  padding-left: $padding16px;
  padding-right: $padding16px;
  padding-top:0;
  padding-bottom:0;
}