@use "./partials/globals" as *;
@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/typography" as *;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

.pageheader{
  background-image: url('/assets/images/hero-bio.jpg');
  background-size: cover;
  display:flex;
  position: relative;
  width:100%;
  height: 60vw;
  

  &__content{
    display: flex;
    z-index: 1;
    align-items: center;
    color: $White;
    @include padding-16;
  
    @include tablet {
      @include padding-36;
    }
    @include desktop{
      margin: 0 10%;
    }
  }
}

.overlay {
  display: flex;
  position: absolute;
  width:100%;
  height:100%;
  background-color: $BandSite-Black;
  opacity: 50%;
}



.image__container{
  position: relative;
  display: flex;
  // max-width:70vw;
  height: auto;
  justify-content: center;
  align-items: center; 
  
  @include tablet{
    margin: 0 10%;
  }
 
}

.image__band{
  object-fit:contain;
  width:100%;
  height: auto;
  width:100%;
  padding-bottom: $padding-16;

}

.quote {
  font-size: $font-18;
  line-height: $line-height-32;
  font-weight: 600;
  padding-bottom: $padding-16;

  @include tablet {
      font-size: $font-24;
      margin: 0 10%;
  }
}


.body__header{
  display:flex;
  font-weight: 400;

  @include tablet {
    margin: 0 10%;
}
}

.body__container{
  display: flex;
  flex-direction: column; 
  margin: 0;


  @include tablet{
    flex-direction: row;
    margin: 0 10%;
  }
}

.body__copy{
  font-size: $font-16;
  padding-bottom: $padding-16;

  @include tablet{
    display: flex;
    margin-right: 3rem;
    flex-flow: row wrap;

}
}

.section_nav{
  background-color: $BandSite-Black;
  color: $White;
}

.section__about{
  background-color: $White;
  color: $BandSite-Black;
  @include padding-mobile;

  @include tablet {
    @include padding-36;
 }

  @include desktop{
    margin: 0 10%;
  }
 
}

.gallery {
  background-color: $Alabaster;
  @include padding-16;

  &__container {
    @include tablet {
      display:flex;
      flex-flow: row wrap;
      justify-content: space-around;
    }
    @include desktop{
        margin: 0 10%;
      }
  }

  &__header{
    @include tablet {
      @include padding-36;
   }
    @include desktop{
      margin: 0 10%;
    }
  }
}


.image__gallery{
  position: relative;
  width:100%;
  height: auto;
  padding-bottom: $padding-16;

  @include tablet{
    flex: 1 1 20%;
    min-width:22vw;
    padding-left:$padding-36;
    padding-right:$padding-36;
    
  }
}

.comment{
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;  

  @include tablet{
  justify-content: center;
  padding: $padding-24;

  @include desktop{
    width: 60vw;
    margin: auto;
  }
  }

  &__image {
  border-radius: 100%;
  width:3.5rem;
  height: 3.5rem;
  object-fit: cover;
  position: relative; 
  top: 2.5rem; 
  }

  &__header {
    @include tablet {
      @include padding-36;
      max-width: 80rem;
  }
    @include desktop{
      margin: 0 10%;
    }
  }
}

.commentforum{
  margin:0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  @include padding-mobile;

  &__label{
    color:$Silver;
    font-size: $font-18;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  &__input{
    color: $BandSite-Black;
    padding: .5rem;
    font-size: $font-16;
    font-weight: 400;
    background-color: $Alabaster;
    border: .0625rem solid $Silver;
    border-radius: .5rem;
    margin-bottom: 1rem;
    width:100%;

    @include tablet;
    width:60vw;
  }

  &__button{
    color: $Alabaster;
    padding: .5rem;
    font-size: $font-18;
    font-weight: 400;
    background-color: $BandSite-Black;
    border-radius: .5rem;
    margin-top: 1rem;
    height:4rem;
    align-items: center;
  }
  }

.comment-container{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
  

  @include tablet {
    margin: 0 10%; 
}
}

.comment__card {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  border-top: 0.0625rem solid #AFAFAF;
  width: 100%; 
  // border-bottom: 0.0625rem solid #AFAFAF;
  align-items: flex-start;
   
  @include tablet {
    width: 60vw;  // Matching width to .comment__position
    margin: auto;
}
}

.comment-container, .comment__section {
  // border-top: 0.0625rem solid #AFAFAF;
  display: flex;
  flex-direction: column;
  width: 100%;

  @include tablet{
    max-width: 60vw;
    margin: auto;
    // display: flex;
    // justify-content: center;
  }
}

.comment__image--container {
  flex-shrink: 0; 
  
}

.comment__position {
  display: flex;
  flex-direction: column;
  width:100%;
  padding:$padding-16;

  @include tablet {
    width: 60vw; 
    // padding: $padding-16;
    margin: auto;
  }

}

.comment__image--empty {
  border-radius: 100%;
  background-color: $Silver;
  width:3.5rem;
  height: 3.5rem;
  object-fit:none;
  margin-top: 1.25rem;
  // position: relative; 
  // top: 1.5rem; 
}

.comment__nameWithDate {
  display: flex;
  flex-direction: row;
  // gap: 0.5rem; 
  justify-content: space-between;
  width:100%;
}

.comment__card--name{
  font-weight:600;

}

.comment__card--date{
  color: $Silver;
  font-weight:600;
}
