/*too small*/
/*too small*/
/*too small*/
/*this is pulling the styles from each font file, so when the font-weight is specified, there is a match*/
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/fonts/Alternative files/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../assets/fonts/Alternative files/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/fonts/Alternative files/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    background-color: #323232;
  }
}
@media screen and (min-width: 1280px) {
  .nav {
    padding: 0 10%;
  }
}
.nav__logo {
  background-color: #323232;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  padding: 1rem;
  height: 2rem;
}
@media screen and (min-width: 768px) {
  .nav__logo {
    padding: 2.25rem;
  }
}
.nav__menu {
  display: flex;
  justify-content: space-around;
  background-color: #323232;
}
.nav__menu--hover {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1;
  text-align: center;
  padding: 1rem;
}
.nav__menu--hover:hover {
  border-bottom: 0.25rem solid #FFFFFF;
}
@media screen and (min-width: 768px) {
  .nav__menu--hover {
    padding: 1.5rem;
  }
}
.nav__button {
  text-decoration: none;
  vertical-align: middle;
  color: #FFFFFF;
}
.nav__button:hover {
  font-weight: 700;
}
.nav__button a {
  text-decoration: none;
}

body {
  font-family: "Avenir", sans-serif;
  margin: 0;
}

main {
  margin: 0;
}

h1 {
  font-size: 3.75rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 4.5rem;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  h2 {
    font-size: 3.75rem;
  }
}

h3 {
  font-size: 1.125rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 2rem;
  }
}

p {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 0;
}
@media screen and (min-width: 768px) {
  p {
    font-size: 1rem;
  }
}

.button {
  font-size: 0.875rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .button {
    font-size: 1rem;
  }
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 1rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .footer {
    padding: 0 10%;
  }
}
.footer__logo {
  align-items: center;
  vertical-align: middle;
}
@media screen and (min-width: 768px) {
  .footer__contact {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex: 1;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex: 1;
  }
}
.footer__social--links {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer__social--links {
    justify-content: space-between;
  }
}
.footer__icon {
  justify-content: space-between;
  margin-top: 1rem;
  margin-right: 2rem;
  height: 3rem;
}
.footer__copy {
  padding-bottom: 1rem;
}
@media screen and (min-width: 1280px) {
  .footer__copy {
    padding-top: 2.25rem;
    padding-bottom: 3rem;
  }
}
.footer__contact--label {
  font-size: 1.5rem;
}
.footer__contact--copy {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
  }
}
.footer__logo--hidden1 {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__logo--hidden1 {
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo--hidden1 {
    position: relative;
    top: 3rem;
    left: 3rem;
  }
}
.footer__logo--hidden2 {
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__logo--hidden2 {
    display: none;
  }
}

.pageheader {
  background-image: url("/assets/images/hero-shows.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  position: relative;
  width: auto;
  height: 60vh;
}
.pageheader__position {
  display: flex;
  flex-direction: column;
  z-index: 1;
}
@media screen and (min-width: 1280px) {
  .pageheader__position {
    display: flex;
    flex-direction: row;
    z-index: 1;
    margin: 0 10%;
  }
}
.pageheader__overlay {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #323232;
  opacity: 50%;
}
.pageheader__title {
  display: flex;
  z-index: 1;
  align-items: center;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 2rem;
  padding-left: 1rem;
}
@media screen and (min-width: 768px) {
  .pageheader__title {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .pageheader__title {
    margin: 0 10%;
  }
}
.pageheader__content {
  display: flex;
  flex-direction: column;
  z-index: 1;
  color: #FFFFFF;
  padding-left: 1rem;
}
@media screen and (min-width: 768px) {
  .pageheader__content {
    min-width: 40rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
.pageheader__song {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  vertical-align: middle;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
  max-height: none;
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .pageheader__song {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    min-width: 30rem;
    padding-bottom: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .pageheader__song {
    margin: 0 10%;
  }
}

iframe {
  width: 100%;
}

@media screen and (min-width: 768px) {
  main {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    margin: auto;
    width: 100%;
    justify-content: space-around;
  }
}

.header__label {
  display: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.main__header {
  padding-left: 1rem;
}
@media screen and (min-width: 768px) {
  .main__header {
    padding-left: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .main__header {
    padding-left: 3rem;
  }
}

@media screen and (min-width: 768px) {
  .shows {
    display: flex;
    flex-direction: column;
  }
}

.allShows__container {
  border-bottom: 0.12rem solid #AFAFAF;
  margin-bottom: 1rem;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .allShows__container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.shows__header {
  color: grey;
  font-weight: 600;
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .shows__header {
    display: none;
  }
}

.shows__header--tablet {
  display: none;
}
@media screen and (min-width: 768px) {
  .shows__header--tablet {
    display: flex;
    flex: 1;
    align-items: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .shows__header--label {
    color: grey;
    font-weight: 600;
    font-size: 1.5rem;
    width: 15rem;
    padding-top: 3.75rem;
    padding-bottom: 2.8rem;
    padding-left: 2.8rem;
  }
}

.date {
  font-size: 1.5rem;
  color: #323232;
  font-weight: 600;
  width: 15rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .date {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    vertical-align: middle;
  }
}

.location, .venue {
  font-size: 1.5rem;
  color: #323232;
  font-weight: 400;
  width: 15rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .location, .venue {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    vertical-align: middle;
  }
}

button {
  margin: 1rem;
  color: #FAFAFA;
  font-size: 1.125rem;
  font-weight: 400;
  background-color: #323232;
  border-radius: 0.5rem;
  width: 90%;
  height: 3.5rem;
  align-items: center;
}
@media screen and (min-width: 768px) {
  button {
    width: 12rem;
  }
}/*# sourceMappingURL=shows.css.map */