@use "./partials/globals" as *;
@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/typography" as *;



.pageheader{
  background-image: url('/assets/images/hero-shows.jpg');
  background-size: cover;
  display:flex;
  flex-direction: column;
  justify-content: center;
  // gap: 5rem;
  vertical-align: middle;
  // flex-grow: .5;
  position: relative;
  width: auto;
  height: 60vh;

  &__position{
    display: flex;
    flex-direction: column;
    z-index: 1;

    // @include tablet {
    //   @include padding-tablet;
    // }

    @include desktop{
      display: flex;
      flex-direction: row;
      z-index: 1;
      margin: 0 10%;
    }
  }

  &__overlay {
    display: flex;
    position: absolute;
    // z-index: -1;
    width:100%;
    height:100%;
    background-color: $BandSite-Black;
    opacity: 50%;
  }  

  &__title{
    display: flex;
    z-index: 1;
    align-items: center;
    color: $White;
    font-weight: 400;
    font-size: $font-32;
    padding-left: $padding-16;
    // @include padding-mobile;
  
    @include tablet {
      @include padding-tablet;
    }
    @include desktop {
      margin: 0 10%;
    }
  }

  &__content{
    display: flex;
    flex-direction: column;
    z-index: 1;
    color: $White;
    padding-left: $padding-16;
    // @include padding-mobile;
  
    @include tablet {
      min-width: 40rem;
      @include padding-tablet;
      // margin: 0 10%;
    }
  }

  &__song {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    vertical-align: middle;
    z-index: 1;
    width: 100%;
    box-sizing: border-box; 
    max-height: none;
    @include padding-16;

    @include tablet {
    @include padding-tablet;
    // width: 30rem;
    min-width: 30rem;
    padding-bottom: $padding-24;
    }

    @include desktop {
      margin: 0 10%;
    }
  }
}

iframe {
  // height: auto;
  width:100%;
  // max-width: 30rem;
}

main {
  @include tablet{
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    margin: auto;
    width: 100%;
    justify-content: space-around;
  }


  
}

.header__label{
  display:none;

  @include tablet;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.main__header{
  padding-left: $padding-16;
  @include tablet {
    padding-left: $padding-24;
  }
  @include desktop {
    padding-left: $padding-48;
  }
}

.shows{
  @include tablet{
    display: flex;
    flex-direction: column;
  }
}

.allShows__container{
  border-bottom: .12rem solid $Silver;
  margin-bottom: 1rem;
  width: 100%;
  @include padding-mobile;
  // padding-top: $padding-24; could also add padding-bottom 0 to Shows header
  padding-bottom: $padding-24;
  @include tablet{
    display: flex;
    flex-direction: row;
  }
}

.shows__header{
  color: grey;
  font-weight: 600;
  font-size: $font-16;
  @include padding-mobile;
  padding-bottom: $padding-16;
  

  @include tablet {
    display: none;
  //   display: flex;
  // //  padding-left: $padding-24;
  // //  padding-right: $padding-24;
  // }
}
}

.shows__header--tablet{
  display: none;

  @include tablet {
    display: flex;
    flex: 1;
    align-items: flex-start;
}
}

.shows__header--label{
  
  @include tablet {
  color: grey;
  font-weight: 600;
  font-size: $font-16;
  padding-top:  3.75rem;
  padding-bottom: 2.8rem;
  padding-left: 2.8rem; 
  // @include padding-mobile;
  // padding-bottom: $padding-16;
  width: 15rem;
      
}
}

.date {
  font-size: $font-24;
  color: $BandSite-Black;
  font-weight: 600;
  width:15rem;
  @include padding-mobile;
  padding-bottom: $padding-16;

  @include tablet {
    padding-left: $padding-24;
    padding-right: $padding-24;
   }
}

.location, .venue{
  font-size: $font-24;
  color: $BandSite-Black;
  font-weight: 400;
  width:15rem;
  @include padding-mobile;
  padding-bottom: $padding-16;

  @include tablet {
    padding-left: $padding-24;
    padding-right: $padding-24;
   }
}




button {
  @include padding-mobile;
  margin: $margin-16;
  color: $Alabaster;
  font-size: $font-18;
  font-weight: 400;
  background-color: $BandSite-Black;
  border-radius: .5rem;
  width: 12rem;
  height:3.5rem;
  align-items: center;
}



