@use "./partials/globals" as *;
@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/typography" as *;



.pageheader{
  background-image: url('/assets/images/hero-shows.jpg');
  background-size: cover;
  display:flex;
  flex-direction: column;
  position: relative;
  width:100%;
  height: 60vw;

  &__overlay {
    display: flex;
    position: absolute;
    width:100%;
    height:100%;
    background-color: $BandSite-Black;
    opacity: 50%;
  }  

  &__title{
    display: flex;
    z-index: 1;
    align-items: center;
    color: $White;
    @include padding-16;
  
    @include tablet {
      @include padding-36;
      margin: 0 10%;
    }
  }

  &__content{
    display: flex;
    flex-direction: column;
    z-index: 1;
    color: $White;
    @include padding-16;
  
    @include tablet {
      @include padding-36;
      margin: 0 10%;
    }
  }

  &__song{
    display: flex;
    flex-direction: column;
    z-index: 1;
    max-width: 30vw; 
    max-height: 5vh;//this is not fixing the issue
    @include padding-16;

    @include tablet {
      @include padding-36;
      margin: 0 10%;
    }

  }
}

.shows__container{
  border-bottom-width: 1rem;
  border-color: gray;
}

.shows__header{
  font-size: $padding-16;
  color: grey;
  font-weight: 600;
  font-size: $font-18;
}
.shows__date{
  font-size: $font-24;
  color: $BandSite-Black;
  font-weight: 600;
}

.shows__location{
  font-size: $font-24;
  color: $BandSite-Black;

}

