@use "./partials/globals" as *;
@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/typography" as *;



.pageheader{
  background-image: url('/assets/images/hero-shows.jpg');
  background-size: cover;
  display:flex;
  flex-direction: column;
  position: relative;
  width:100%;
  height: auto;

  &__overlay {
    display: flex;
    position: absolute;
    width:100%;
    height:100%;
    background-color: $BandSite-Black;
    opacity: 50%;
  }  

  &__title{
    display: flex;
    z-index: 1;
    align-items: center;
    color: $White;
    @include padding-mobile;
  
    @include tablet {
      @include padding-tablet;
      margin: 0 10%;
    }
  }

  &__content{
    display: flex;
    flex-direction: column;
    z-index: 1;
    color: $White;
    @include padding-mobile;
  
    @include tablet {
      @include padding-tablet;
      margin: 0 10%;
    }
  }

  &__song{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box; 
    max-height: none;
    @include padding-tablet;
    padding-bottom: $padding-24;

    @include tablet {
      @include padding-tablet;
    }

    iframe {
      width: 100%;  
      height: auto;
      max-width: 100%;
    }
  }
}

.allShows__container{
  border-bottom: .12rem solid $Silver;
  @include padding-mobile;
  padding-top: $padding-24;
  padding-bottom: $padding-24;
}

.shows__header{
  color: grey;
  font-weight: 600;
  font-size: $font-16;
  @include padding-mobile;
  padding-bottom: $padding-16;

  @include tablet {
   padding-left: $padding-24;
   padding-right: $padding-24;
  }
}
.date, .location, .venue{
  font-size: $font-24;
  color: $BandSite-Black;
  font-weight: 600;
  @include padding-mobile;
  padding-bottom: $padding-16;

  @include tablet {
    padding-left: $padding-24;
    padding-right: $padding-24;
   }
}

button{
  @include padding-mobile;
  margin: $margin-16;
  color: $Alabaster;
  font-size: $font-18;
  font-weight: 400;
  background-color: $BandSite-Black;
  border-radius: .5rem;
  width: 100%;
  height:3.5rem;
  align-items: center;
}



